<form class="form-horizontal" (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    <h1>Створити новий аккаунт.</h1>
    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label">E-mail</label>
        <div class="col-md-6">
            <input class="form-control" type="email" required [(ngModel)]="result.email" id="email" name="email" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Логін</label>
        <div class="col-md-6">
            <input class="form-control" type="text" required [(ngModel)]="result.userName" id="userName" name="password"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Пароль</label>
        <div class="col-md-6">
            <input class="form-control" type="password" required [(ngModel)]="result.password" id="password" name="password"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Пароль</label>
        <div class="col-md-6">
            <input class="form-control" type="password" required [(ngModel)]="result.confirmPassword" id="confirmPassword" name="confirmPassword"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Імя</label>
        <div class="col-md-6">
            <input class="form-control" type="text" required [(ngModel)]="result.firstName" id="firstName" name="firstName"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Прізвище</label>
        <div class="col-md-6">
            <input class="form-control" type="text" required [(ngModel)]="result.lastName" id="lastName" name="lastName"/>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-2 control-label">Тип аккаунта</label>
        <div class="col-md-6">
            <select name="role" [(ngModel)]="result.role" class="form-control">
                <option *ngFor="let role of roles" [value]="role.value">
                    {{role.display}}
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-6">
            <button type="submit" class="btn btn-default">Реєстрація</button>
        </div>
    </div>
</form>
