<h1>Список команд</h1>

<form class="form-inline">
    <label>Показати за видом спорту</label>
    <select name="role" required [(ngModel)]="selectedSport" class="form-control" (ngModelChange)="sortTeams()">
        <option *ngFor="let sport of sports" [value]="sport.id">
            {{sport.sport}}
        </option>
    </select>
<!--    <button class="btn btn-default" (click)="showPointsRate(true)">Рейтинг за голами</button>-->
</form>

<!--<div *ngIf="!showTop">-->
    <table class='table table-hover' *ngIf="teams">
        <thead>
        <tr>
            <th>Назва команди</th>
            <th>Тренер команди</th>
            <th>Вид спорту</th>
            <th>Рейтинг</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let team of filteredTeams" [routerLink]="['/team', team.id]">
            <td>{{ team.name }}</td>
            <td>{{ team.coach.firstName }} {{ team.coach.lastName }}</td>
            <td>{{ team.kindOfSport.sport }}</td>
            <td>{{ team.rating < 0 ? 0 : team.rating }}</td>
        </tr>
        </tbody>
    </table>
<!--</div>-->

<!--<div *ngIf="showTop">-->
<!--    <table class='table table-hover' *ngIf="teams">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Назва команди</th>-->
<!--                <th>Тренер команди</th>-->
<!--                <th>Рейтинг</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr *ngFor="let team of filteredTeams" [routerLink]="['/team', team.id]">-->
<!--                <td>{{ team.name }}</td>-->
<!--                <td>{{ team.coach.firstName }} {{ team.coach.lastName }}</td>-->
<!--                <td>{{ team }}</td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->